body, html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif, serif, monospace;
    margin: 0;
    padding: 0;

    & li {
        font-family: "Montserrat", sans-serif, serif, monospace;
    }
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/static/icon/background.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 250px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;

    & h1 {
        font-size: 4rem;
        font-family: "Bebas Neue", sans-serif, serif, monospace;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    & p {
        font-size: 2rem;
        font-family: "Bona Nova SC", sans-serif, serif, monospace;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }

    & div {
        text-align: start;
        padding-left: 5px;
        border-left: 2px solid rgb(255, 255, 255);
    }

}

.navbar {
    padding: 10px 0;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #333;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    position: relative;
    text-decoration: none;
    color: #444;
    padding: 0;
    transition: color 0.3s ease-in-out;
    max-width: fit-content;
}
.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background-color: #666;
    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #000;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;    
}


#sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    background-color: #f8f9fa;
    box-sizing: border-box;
    height: calc(100vh + 60px);

    & p {
        font-size: 1.3rem;
        line-height: 1.6;
        color: #333;
        max-width: 600px;
        text-align: start;
    }

    & h2 {
        font-family: "Bona Nova SC", sans-serif, serif, monospace;
        font-size: 2.5rem;
        color: #333;
    }

    & img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
    & .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    & .container {
        max-width: 90%;
        text-align: center;
    }
}


#servicos {
    padding: 70px 0;
    background-color: #f8f9fa;

    & h2 {
        font-family: "Bona Nova SC", sans-serif, serif, monospace;
        font-size: 2.5rem;
        color: #333;
    }

    & h5 {
        font-family: "Bebas Neue", sans-serif, serif, monospace;
        font-size: 1.7rem;
    }

    & a {
        font-family: "Montserrat", sans-serif, serif, monospace;
        border-radius: 20px 0 20px 0;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    border: none;
    transition: transform 0.7s, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.card-img-top {
    height: 400px;
    object-fit: cover;
}

#galeria {
    padding: 70px 0;
    background-color: #f8f9fa;

    & h2 {
        font-family: "Bona Nova SC", sans-serif, serif, monospace;
        font-size: 2.5rem;
        color: #333;
    }

    & h5 {
        font-family: "Bebas Neue", sans-serif, serif, monospace;
        font-size: 1.7rem;
    }

    & .imagem-galeria {
        filter: grayscale(100%);
    }

    & .imagem-galeria:hover {
        filter: grayscale(0%);
    }
}

#galeria .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;

}

#galeria .card {
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#galeria .card:hover {
    transform: scale(1.05);
}

#galeria .card img {
    width: 100%;
    max-width: 350px;
    height: auto;
    object-fit: cover;
}


#profissionais {
    padding: 70px 0;

    & h2 {
        font-family: "Bona Nova SC", sans-serif, serif, monospace;
        font-size: 2.5rem;
        color: #333;
    }

    & h5 {
        font-family: "Bebas Neue", sans-serif, serif, monospace;
        font-size: 1.7rem;
    }
}


footer {
    background-color: #333;
    color: white;
    padding: 70px 0 30px 0;

    & h2 {
        font-family: "Bona Nova SC", sans-serif, serif, monospace;
        font-size: 2.5rem;
    }

    & #info a {
        text-decoration: underline;
    }
}


footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #ddd;
}

footer .form-control {
    margin-bottom: 15px;
}

footer .btn-primary {
    background-color: #007bff;
    border: none;
}

footer .btn-primary:hover {
    background-color: #0056b3;
}

[data-aos] {
    transition: all 0.4s ease;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    header h1 {
        font-size: 3rem;
    }

    header p {
        font-size: 1.9rem;
    }

    #sobre h2, #servicos h2, #profissionais h2, footer h2 {
        font-size: 2.5rem;
    }

    #servicos h5, #profissionais h5 {
        font-size: 1.7rem;
    }

    #sobre p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1000px) {
    header h1 {
        font-size: 3rem;
    }

    header p {
        font-size: 2rem;
    }


    #servicos h5, #profissionais h5 {
        font-size: 1.6rem;
    }

    #sobre p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 992px) {
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.5rem;
    }


    #servicos h5, #profissionais h5 {
        font-size: 1.5rem;
    }

    #sobre p {
        font-size: 1.1rem;
    }
    #galeria .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    #galeria .card img {
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1.2rem;
    }

    #servicos h5, #profissionais h5 {
        font-size: 1.3rem;
    }

    #sobre {
        height: auto;
        padding: 70px 0;
    }

    #sobre .row {
        flex-direction: column;
        text-align: center;
    }

    #sobre p {
        font-size: 1.1rem;
        max-width: 100%;
    }

    #sobre img {
        max-width: 80%;
    }

    #galeria .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    #galeria .card img {
        max-width: 250px;
    }
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 576px) {
    header h1 {
        font-size: 1.8rem;
    }

    header p {
        font-size: 1rem;
    }

    #servicos h5, #profissionais h5 {
        font-size: 1.2rem;
    }

    #sobre p {
        font-size: 1rem;
    }
    #galeria .grid-container {
        grid-template-columns: 1fr;
    }

    #galeria .card img {
        max-width: 100%;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */